/*Desktop container*/
.desktop_container {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 100dvh;
}

/* Accessibility icons */
.accessibility {
  padding-right: 0;
}
.icons_container {
  gap: 1.5rem;
}
.profile a img{
    width: 1.8rem;
}
/* Main content */
.desktop_container .main_content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
